#set($layout = "/layout/index_layout.vm")
<main class="common-main" role="main">
    <div class="container">
        <div class="row" id="post-list">
			#foreach($exp in $exps)
			<div class="col-xs-12 col-md-6 col-lg-6">
                <article class="post tag-ad">
                    <section class="post-featured-image">
                        <a class="thumbnail" href="/exp/${exp.id}" target="_blank">
                          <img src="/expimg/${exp.cover}" width="800" height="600" alt="${exp.name}" style="display: block;">
                        </a>
                    </section>
                    <header class="post-header">
                        <h3 class="post-title"><a href="/exp/${exp.id}">${exp.name}</a></h3>
					</header>
                </article>
            </div>
			#end
		</div>
	</div>
</main>